

<div class="demo-card-wide mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><a href="<%- config.root %><%- item.path %>" title="<%= item.title %>"><%= item.title %></a></h2>
  </div>
  <div class="mdl-card__supporting-text">
    <% if (item.excerpt){ %>
                <%- item.excerpt %>
      <% }else{ %>
        <%- item.content %>
      <% } %>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="<%- config.root %><%- item.path %>">
      Get Started
    </a>
    <div class="post-tag"><%- partial('post/tag') %></div>
    <div class="post-tag"><%- partial('post/category') %></div>
  </div>
  
</div>