
<!-- Always shows a header, even in smaller screens. -->

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><%= config.title %></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/"><%= __('home') %></a>
       
      </nav>
      
    </div>
    <div class="subtitle"><% if(config.subtitle){ %><%= config.subtitle %> <% } %></div>
  </header>

  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title"><%= config.title %></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/"><%= __('home') %></a>

    </nav>
  </div>




